.btn1 {
    align-items: center;
    border-radius: 8px;

}

.btn1div {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-bottom: 40px;
}