body {
    background: #000;
    padding: 0;
    margin: 0;
}

@media (max-width: 768px) {
    .react-casino-roulette-table {
        font-size: 12px !important;
    }

    .react-casino-roulette-chip {
        width: 30px !important;
        height: 30px !important;
    }

    .react-casino-roulette-wheel {
        transform: scale(0.8) !important;
    }
}
